.lower
  .info#no-show< Trying to connect to the show
  .info#waiting-to-start< Waiting to start
  .info#starting-in< Starting in 10 seconds
  .info#done< Done
  .info#found< Found!
  .info#not-found< Not found

.upper
  = button_tag "Join Show",  class: "btn btn-primary btn-xl action", id: "join"
  = button_tag "Leave Show", class: "btn btn-danger btn-xl action",  id: "leave"

.middle
  .info#turn-phone-around< Turn your screen to face the conductor and hold still!
  = button_tag "Locate Me", class: "btn btn-success btn-xl action", id: "locate-me"

.fullscreen#torch-on
.fullscreen#torch-off

= audio_tag "beep.wav", "beep.mp3", autoplay: false, controls: false, class: :audio, id: :beep

:javascript
  new PlayerBuilder().build("#{@serverUrl}", #{@doneDelay}, #{@locateMeSeconds}, #{@loginInterval}, #{@pingInterval}).open();
